/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #F6F7F7;
    background-color: #1D2327;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #FFFFFF;
    color: #000000;
}

/* Header */
header {
    background: #50575E;
    color: #C5C6C7;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #66FCF1
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #66FCF1;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffc107;
}

/* Download Resume */
#resume {
    padding: 10px 20px;
    background: #66FCF1;
    border: none;
    color: #0B0C10;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

#resume:hover {
    background: #45A29E;
}

/* Theme Toggle Button */
#theme-toggle {
    padding: 10px 20px;
    background: #66FCF1;
    border: none;
    color: #0B0C10;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

#theme-toggle:hover {
    background: #45A29E;
}

/* Back to Top Button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: #66FCF1;
    color: #0B0C10;
    border: none;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    transition: transform 0.3s, background 0.3s;
}

#back-to-top:hover {
    background: #45A29E;
    transform: scale(1.1);
}


/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #101517;
    color: #66FCF1;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #C5C6C7;
}

.hero-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.hero-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #C5C6C7;
    border-radius: 50%;
}

.hero-icons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero-icons img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s;
}

.cta:hover {
    background: #e0a800;
}

/* About Section */
.about {
    padding: 50px 20px;
    background: #0B0C10;
    color: #C5C6C7;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-content {
    max-width: 600px;
}

.about-content h2 {
    margin-bottom: 15px;
    color: #66FCF1;
}

.about-content p {
    color: #C5C6C7;
}

/* Section Styling */
section {
    padding: 50px 20px;
    margin-bottom: 20px;
    background-color: #0B0C10;
    border-radius: 8px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #343a40;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #343a40;
    color: white;
}

/* Education Section Styling */
.education {
    padding: 50px 20px;
    background-color: #0B0C10;
    border-radius: 8px;
    margin-bottom: 20px;
}

.education.light-mode {
    background-color: #F7F7F7;
}

.education h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #66FCF1;
}

.education-item {
    background: #0B0C10;
    border: 1px solid #45A29E;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #C5C6C7;
}

.education-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.education-item p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Skills Section */
.skills {
    padding: 50px 20px;
    background-color: #0B0C10;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #45A29E;
}

.skills h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #66FCF1;
}

.skills-item {
    display: inline-block;
    background: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 0.9em;
    color: #C5C6C7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    white-space: nowrap;
}

.skills-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.skills-subsection h3{
    margin: 20px;
    font-size: 1.2em;
    color: #C5C6C7;
}

/* Experience Section */
.experience h2{
    color: #66FCF1;
}
.experience .experience-item {
    background: #0B0C10;
    padding: 20px;
    border: 1px solid #45A29E;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #C5C6C7;
}

.experience .experience-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #C5C6C7;
}

.experience .experience-item p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Projects Section */
.projects {
    padding: 50px 20px;
    background: #0B0C10;
    color: #C5C6C7;
}

.projects h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #66FCF1;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background: #0B0C10;
    border: 1px solid #45A29E;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #C5C6C7;
    padding: 20px;
    margin-bottom: 20px;
}

.project-item h3{
    font-size: 1.2em;
}
.project-item p{
    font-size: 0.9em;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-link {
    display: block;
    text-align: center;
    padding: 10px;
    background: #66FCF1;
    color: #0B0C10;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    background: #45A29E;
}

/* Contact Section */
.contact {
    padding: 50px 20px;
    background: #0B0C10;
    text-align: center;
    color: #C5C6C7;
}

.contact h2 {
    margin-bottom: 20px;
    color: #66FCF1;
}

.contact-form {
    max-width: 500px;
    margin: auto;
}

.contact-form input{
    background-color: #1F2833;
    color: #C5C6C7;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #45A29E;
    border-radius: 5px;
}
.contact-form textarea{
    background-color: #1F2833;
    color: #C5C6C7;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #45A29E;
    border-radius: 5px;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background: #66FCF1;
    color: #0B0C10;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #45A29E;
}

/*light mode*/
header.light-mode {
    background: #F8F9FA;
    color: #343A40;
}

.nav-links.light-mode a {
    color: #000;
}

.nav-links.light-mode a:hover {
    color: #007BFF;
}


#resume.light-mode {
    background: #007BFF;
    color: #FFFFFF;
}

#resume.light-mode:hover {
    background: #0056b3;
}

#theme-toggle.light-mode {
    background: #007BFF;
    color: #FFFFFF;
}

#theme-toggle.light-mode:hover {
    background: #0056b3;
}

#back-to-top.light-mode {
    background: #007BFF;
    color: #FFFFFF;
}

#back-to-top.light-mode:hover {
    background: #0056b3;
}
.hero.light-mode {
    background: #F5F5F5;
    color: #333;
}

.hero.light-mode p {
    color: #555;
}

.hero-icons.light-mode a {
    background-color: #DDD;
}

.hero-icons.light-mode img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about.light-mode {
    background: #F9F9F9;
    color: #333;
}

.about-content.light-mode h2 {
    color: #000;
}

.about-content.light-mode p {
    color: #555;
}
section.light-mode {
    background-color: #F9F9F9;
    color: #000;
}
footer.light-mode {
    background: #F1F1F1;
    color: #333;
}
.education.light-mode {
    background-color: #F7F7F7;
    color: #000;
}

.education.light-mode h2 {
    color: #000;
}

.education-item.light-mode {
    background: #FFF;
    color: #555;
    border-color: #DDD;
}
.skills.light-mode {
    background-color: #EEE;
    color: #000;
}

.skills.light-mode h2 {
    color: #000;
}

.skills-item.light-mode {
    background: #F7F7F7;
    color: #000;
    border-color: #CCC;
}
.experience.light-mode .experience-item {
    background: #FFF;
    color: #555;
    border-color: #DDD;
}

.experience .experience-item.light-mode h3 {
    color: #000;
}
.projects.light-mode {
    background: #F9F9F9;
    color: #000;
}

.project-item.light-mode {
    background: #FFF;
    color: #555;
    border-color: #DDD;
}

.project-link.light-mode {
    background: #DDD;
    color: #000;
}
.contact.light-mode {
    background: #F5F5F5;
    color: #333;
}

.contact-form input.light-mode, 
.contact-form textarea.light-mode {
    background-color: #FFF;
    color: #333;
    border: 1px solid #CCC;
}

.contact-form button.light-mode {
    background: #DDD;
    color: #000;
}

